<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smart Colors</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet">
</head>
<body>
    <!-- Header -->
    <header>
        <h1 class="title">Smart Colors</h1>
    </header>

    <!-- Main Content -->
    <main>
        <%- include('./partials/combination', {color: 'green'}) %>
    </main>
    
</body>
</html>